@model IEnumerable<ApartmentWithActualReadingDTO>

<h2>Актуальные показания счетчиков на сегодня</h2>
<hr/>

<table class="table">
    <thead>
    <tr>
        <td>Адрес</td>
        <td>Показания счетчика</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var apartment in Model)
    {
        <tr>
            <td>@apartment.Name</td>
            <td>@(apartment?.Reading?.ToString() ?? "-")</td>
            @if (apartment?.ReadingId != null)
            {
                <td><a asp-controller="MeterReading" asp-action="Update" asp-route-id="@apartment.ReadingId">ввести показания</a></td>
            }
            else
            {
                <td></td>
            }
            <td><a asp-controller="Apartment" asp-action="Update" asp-route-id="@apartment.ApartmentId">
                @(apartment?.ReadingId != null ? "заменить счетчик" : "установить счетчик")
                </a></td>
            <td><a asp-controller="MeterReplacementHistory" asp-action="Index" asp-route-id="@apartment.ApartmentId">история замен счетчиков</a></td>
        </tr>
    }
    </tbody>
</table>
